.bordered-square {
    display: flex;
	border: 1px solid black;
	height: 200px;
    width: 200px;
}

.value-text {
    font-size: 200px;

	margin: auto;
}

.row {
	display: flex;
}

.red-font {
	color: red;
}

.blue-font {
	color: blue;
}

.modal-text {
    font-size: 43px;
}
